*{
    background-color:aliceblue;
}

#log{
    border-radius: 5px;
    width: 20%;
    padding: 50px;
    height:300px;
    padding-left:40px;
    float: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}
/*styling for sign up button*/
.button{
    background-color:   green;
    color: white;
    font-size: medium;
    font-weight:13px;
    width: 80%;
    margin: auto;
    margin-left: 25px;
    padding: 5px;
    float: center;
    border-radius: 6px;

    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/*styling for login button*/
.login{
    background-color:blue;
    width :100%;
    padding: 10px;
    margin-right: 140px;
    float:center;
    border-radius:6px;
    color: aliceblue;
    text-align: center;
}
/*styling for input type submit*/
input[type=submit]{
    border: transparent;
    background-color: blue;
    color: aliceblue;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*styling for forgotten password*/
a:link{
    text-decoration: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
}
a:visited{
    color: blue;
}
#spec{
    color: blue;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    font-size:20px;
    padding: 0px 0px 0px 0px;

}
div.face{
    float: left;
    padding: 90px;
}
input[type=email]{
    width:150%;
    padding: 12px 20px 12px 20px;

   /* padding-left: 40px;*/
   margin: auto;
   margin-right: 100px;

}
input[type=password]{
    width:150%;
    padding: 12px 20px 12px 20px;
 
   /* padding-left: 40px;*/
   margin: auto;
   margin-right: 100px;
}
.email{
    
    padding: 0px;
    margin:auto;
    margin-right: 40px;
    
    
}
.pass{
    padding: 0px;
    margin:auto;
    margin-right: 40px;
}